<div class="sidebar-nav">
  <ul class="nav nav-stacked left-menu">
    <li id="navigation-index" class="active">
      <a href="/">
        <span class="box">
        <i class="radmin-icon radmin-home"></i>
        </span>
        <span class="hidden-tablet hidden-phone">显示结果</span>
      </a>
    </li>
    <li id="navigation-calendar">
      <a href="/">
        <span class="box">
        <i class="radmin-icon radmin-calendar"></i>
        </span>
        <span class="hidden-tablet hidden-phone">查看日志</span>
      </a>
    </li>
    <li id="navigation-graphs">
      <a href="/">
        <span class="box">
        <i class="radmin-icon radmin-bars"></i>
        </span>
        <span class="hidden-tablet hidden-phone">图表 &amp; 数据</span>
      </a>
    </li>
    <li class="accordion" id="navigation-sample-pages">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#navigation-sample-pages" href="#collapse1">
        <span class="box">
        <i class="radmin-icon radmin-file"></i>
        </span>
        <span class="hidden-tablet hidden-phone">设置系统参数</span>
        <span class="label pull-right hidden-tablet hidden-phone">3</span>
      </a>

      <div id="collapse1" class="accordion-body collapse">
        <ul class="nav nav-stacked submenu">
          <li>
            <a href="welcome/index">
              <span class="box">
              <i class="radmin-icon radmin-user"></i>
              </span>
              <span class="hidden-tablet hidden-phone">用户信息</span>
            </a>
          </li>
          <li>
            <a href="invoices.html">
<span class="box">
<i class="radmin-icon radmin-clipboard-2"></i>
</span>
              <span class="hidden-tablet hidden-phone">出口设置</span>
            </a>
          </li>
          <li class="submenu-last">
            <a href="reports.html">
<span class="box">
<i class="radmin-icon radmin-attachment"></i>
</span>
              <span class="hidden-tablet hidden-phone">条件设置</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="accordion" id="navigation-components">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="navigation-components" href="#collapse2">
<span class="box">
<i class="radmin-icon radmin-tree-view"></i>
</span>
        <span class="hidden-tablet hidden-phone">其它选项</span>
        <span class="label pull-right hidden-tablet hidden-phone">3</span>
      </a>

      <div id="collapse2" class="accordion-body collapse">
        <ul class="nav nav-stacked submenu">
          <li>
            <a href="grid.html">
<span class="box">
<i class="radmin-icon radmin-grid-view"></i>
</span>
              <span class="hidden-tablet hidden-phone">出口过滤</span>
            </a>
          </li>
          <li>
            <a href="icons.html">
<span class="box">
<i class="radmin-icon radmin-picture"></i>
</span>
              <span class="hidden-tablet hidden-phone">测试工具</span>
            </a>
          </li>
          <li class="submenu-last">
            <a href="elements.html">
<span class="box">
<i class="radmin-icon radmin-star"></i>
</span>
              <span class="hidden-tablet hidden-phone">其它参数</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>